<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Company A</title>
  </head>
  <body>
    <div
      style="
        color: #444;
        background-color: #fefefe;
        box-shadow: 0px 0px 6px 1px #3336;
      "
    >
      <div style="padding: 16px;">
        {{>header}}

        <div class="content">
            {{>body}}
        </div>
      </div>

      {{>footer}}
    </div>
  </body>
</html>
